.idea
__pycache__

*.tgz
venv/
venvIDE/
venv2/

repocloned
package_extracted
package_dir

src/lastpymile_npm/testing.py
src/lastpymile_npm/testing_web_scraper.py
src/lastpymile_npm/main2.py
src/lastpymile_npm/main2_alt.py
src/lastpymile_npm/main3.py
src/lastpymile_npm/main3_alt.py
src/test.txt
src/test2.txt
*.json
src/results/
